
<div class="Atop">
	<div class="container">

		<h2 class="wow bounce">
			<br>
			<strong>Top reasons why you should partner with Marg Software for your Business</strong>
		</h2>

		<div class="row">

			<div class="col-md-5 middle-2 wow fadeInUp">
				<h3><i class="fas fa-users-cog"></i> Our Team</h3>
				<br>
				<p>Our product specialists will install the setup & help you get going with the software, and our dedicated team provides you solutions in a much efficient way.
				</p>
			</div>
			<div class="col-md-5 middle-2 wow fadeInUp">
				<h3><i class="fas fa-chart-line"></i> Our Service</h3>
				<br>
				<p>Dedicated 24*7 assistance so that you get all the help whenever required. Training and hand-holding about how you can fully utilize all the features of Marg Software.
				</p>
			</div>
			<div class="col-md-5 middle-2 wow fadeInUp">
				<h3><i class="fas fa-toolbox"></i> Focus on quality</h3>
				<br>
				<p>We believe our focus on quality deliverables is what brought us to where we are now. All our projects go through different layers of testing and quality assurance, to make sure that the final deliverable is free from issues and roadblocks!
				</p>
			</div>

		</div>

	</div>
</div>


<div class="landing-below">
	<div class="container">
		<br>
		<h2>Why you should choose Marg ERP</h2>
		<div class="row landingBelow">

			<div class="col-md-7 leftSide wow pulse">
				<img ng-src="images/landing/lpf_img1.svg">
			</div>
			<div class="col-md-5 rightSide wow fadeInUp">
				<h4>Create GST Invoices & Bills</h4>
				<p>Generate all types of GST Invoices, GSTR reports, E-way Bills & File GSTR1, GSTR 2, GSTR 3B, GSTR 9 directly from the software</p>
			</div>

			<div class="col-md-7 wow fadeInUp">
				<h4>Accounting Till Balance Sheet</h4>
				<p>Using our billing software check everything related to client like account balance, account history, invoices, quotations, payments, and cheque alerts till balance sheet</p>
			</div>
			<div class="col-md-5 wow pulse">
				<img ng-src="images/landing/lpf_img2.svg">
			</div>

			<div class="col-md-7 leftSide wow pulse">
				<img ng-src="images/landing/lpf_img3.svg">
			</div>
			<div class="col-md-5 rightSide wow fadeInUp">
				<h4>Collect Payments Faster</h4>
				<p>Make your payments, collections & reconciliation easy with free payment platform MargPay</p>
				<ul>
					<li>2% Cashback for Retailers on every payment through Paytm UPI</li>
					<li>0% Service Charges for Distributors</li>
					<li>No Card Swipe Machine Rent</li>
					<li>Win Lucky Draw Prizes worth Rs. 25 Lakh & more offers</li>
				</ul>
			</div>

			<div class="col-md-7 wow fadeInUp">
				<h4 style="margin-top: 140px;">Salesman & Retailer Order App</h4>
				<p>Live Stock, Schemes, Price before placing order. Bill Preview with Shortage. Manage Credits with Online Payments.</p>
			</div>
			<div class="col-md-5 wow pulse">
				<img ng-src="images/landing/lpf_img4.svg" style="width: 100%; height: auto;">
			</div>

			<div class="col-md-7 leftSide wow pulse">
				<img ng-src="images/landing/lpf_img5.svg">
			</div>
			<div class="col-md-5 rightSide wow fadeInUp">
				<h4 style="margin-top: 100px;">Free Website (Go Digital)</h4>
				<p>Take your Business Online. Reach more customers with Free personalized website worth ₹ 5000. Set up your online store, create digital catalogues & ‘Go Digital’</p>
			</div>

			<div class="col-md-7 wow fadeInUp">
				<br>
				<br>
				<h4>Free Gift Vouchers worth ₹ 25,000</h4>
				<p>Get free Gift Vouchers worth ₹ 25,000/- of 25+ Brands like Myntra, Arrow, Fusion Beats, Kaya, Kalyan Jewellers, Flying Machine, Oven Story etc. Grab the best deals from top retailers to continue saving more!</p>
			</div>
			<div class="col-md-5 wow pulse">
				<img ng-src="images/landing/lpf_img8.svg" style="width: 100%; height: auto;">
			</div>

		</div>
	</div>
</div>

<!-- <div class="Abottom">
	<div class="container">
		<div class="row">

			<div class="col-md-6 aboutLeft">
				<h2 class="wow bounceInUp">Marg ERP9+</h2>
				<hr>
				<br>
				<p style="color: #333;" class="wow bounceInUp">Marg software is the only Real Accounting & Inventory Software which gives you 100% control on your business. Due to easiness, flexibility, self-customization options and time to time up-gradations are the major reasons behind its success. That's why in a very short period i.e. August 2002, it is widely adopted by more than 9 Lakh users.
				</p>
				<br>
				<h2 class="wow bounceInUp">Marg Key Features</h2>
				<hr>
				<br>
				<ul class="wow bounceInUp">
					<li>Sales Bill Attraction</li>
					<li>Counter Sale Entry</li>
					<li>Point of Sales Provision</li>
					<li>Credit Limits</li>
					<li>Salesman Selection</li>
					<li>Discount System</li>
					<li>Margins & Losses</li>
					<li>Barcode Management</li>
					<li>Order Management</li>
				</ul>
			</div>

			<div class="col-md-6 aboutImg">
				<img ng-src="images/gladys_bg_teamwork_005-min.png" style="width: 100%; height: auto; margin-top: 40px;">
			</div>

		</div>
	</div>
</div> -->