
<div class="Aside">
	<div class="container">
		<div class="row parentElem">
			<div class="col-lg-5 asideLeft wow pulse">
				<br>
				<h1 style="color: #1A237E; text-align: center;">Marg<span style="color: #1B5E20;">ERP 9+</span></h1>
				<h6>Start Billing @ ₹999/-*</h6>
				<br>
				<p>GST Billing to Filing</p>
				<p style="font-size: 18px; text-align: center; color: #1A237E;">850+ Sales & Support Centers / 1 Million+ Satisfied users</p>
			</div>
			<div class="col-lg-7" style="text-align: center; margin-bottom: 25px;">
				<br>
				<h2 style="color: #1A237E;">Accounting<span style="color: #1B5E20;"> <br>& Inventory Software</span></h2>
				<br>
				<br>
				<a ui-sref="reqDemo" style="text-decoration: none;">
					<button type="button" class="btn btn-lg btn-primary" style="margin-bottom: 10px;">
					Request For Free Demo</button>
				</a>
				<a ui-sref="margSetupDownload">
					<button type="button" class="btn btn-lg btn-dark" style="margin-bottom: 10px;">Download Now</button>
					<br>
					<br>
				</a>
			</div>
			<div class="col-md-3 child1">
				<a ui-sref="retail">
					<img ng-src="images/3055581cff0526602142cbb0bfba9fca.png" style="width: 150px; height: 140px;
					display: block; margin-left: auto; margin-right: auto;" class="wow fadeInDown">
				</a>
				<a ui-sref="retail">
					<p style="font-size: 19px; text-align: center; font-family: 'Baloo Tamma 2', cursive;">RETAIL</p>
				</a>
				<br>
			</div>
			<div class="col-md-3 child2">
				<a ui-sref="pharma">
					<img ng-src="images/255ad16140fefabeea1ac46cddb59cef-pharmacy-shopping-cart-icon-by-vexels.png" 
					style="width: 150px; height: 140px; display: block; margin-left: auto; margin-right: auto;" 
					class="wow fadeInDown">
				</a>
				<a ui-sref="pharma">
					<p style="font-size: 19px; text-align: center; font-family: 'Baloo Tamma 2', cursive;">PHARMACY</p>
				</a>
				<br>
			</div>
			<div class="col-md-3 child3">
				<a ui-sref="fmcg">
					<img ng-src="images/shopping-cart-loaded.png" style="width: 150px; height: 140px; display: block;margin-left: auto; margin-right: auto;" class="wow fadeInDown">
				</a>
				<a ui-sref="fmcg">
					<p style="font-size: 19px; text-align: center; font-family: 'Baloo Tamma 2', cursive;">GROSERY</p>
				</a>
				<br>
			</div>
			<div class="col-md-3 child4">
				<a ui-sref="jewellery">
					<img ng-src="images/jewelry-icon-png-29.png" style="width: 150px; height: 140px;
					display: block;margin-left: auto; margin-right: auto;" class="wow fadeInDown">
				</a>
				<a ui-sref="jewellery">
					<p style="font-size: 19px; text-align: center; font-family: 'Baloo Tamma 2', cursive;">JEWELLERY</p>
				</a>
			</div>
			<div class="col-md-3 child5">
				<a ui-sref="restaurent">
					<img ng-src="images/restaurant-icon-png-4880.png" style="width: 139px; height: 140px; display: block;margin-left: auto; margin-right: auto;" class="wow fadeInDown">
				</a>
				<a ui-sref="restaurent">
					<p style="font-size: 19px; text-align: center; font-family: 'Baloo Tamma 2', cursive;">RESTAURENT</p>
				</a>
			</div>
			<div class="col-md-3 child6">
				<a ui-sref="garment">
					<img ng-src="images/169836.png" style="width: 150px; height: 140px;
					display: block;margin-left: auto; margin-right: auto;" class="wow fadeInDown">
				</a>
				<a ui-sref="garment">
					<p style="font-size: 19px; text-align: center; font-family: 'Baloo Tamma 2', cursive;">Readymade Garment
					</p>
				</a>
			</div>
			<!-- <div class="col-md-3 child7">
				<a ui-sref="jewellery">
					<img ng-src="images/jewelry-icon-png-29.png" style="width: 150px; height: 140px;
					display: block;margin-left: auto; margin-right: auto;" class="wow fadeInDown">
				</a>
				<a ui-sref="jewellery">
					<p style="font-size: 19px; text-align: center; font-family: 'Baloo Tamma 2', cursive;">JEWELLERY</p>
				</a>
			</div>
			<div class="col-md-3 child8">
				<a ui-sref="jewellery">
					<img ng-src="images/jewelry-icon-png-29.png" style="width: 150px; height: 140px;
					display: block;margin-left: auto; margin-right: auto;" class="wow fadeInDown">
				</a>
				<a ui-sref="jewellery">
					<p style="font-size: 19px; text-align: center; font-family: 'Baloo Tamma 2', cursive;">JEWELLERY</p>
				</a>
			</div> -->
		</div>
	</div>
</div>

<div class="landing-aside">
	<div class="container">
		<h1>Empowering Businesses, Enabling Better India Through IT</h1>
		<div class="row parentEle wow fadeInUp">
			<div class="col-md-2 childOne">
				<img ng-src="images/landing/mi-01.svg">
				<p><span>20 Billion+</span><br>
					Invoices Processed<br>
				Per Year</p>
			</div>
			<div class="col-md-2 childTwo">
				<img ng-src="images/landing/mi-02.svg">
				<p><span>100 Billion$</span><br>
					Transaction Processed<br>
				Per Year</p>
			</div>
			<div class="col-md-2 childThree">
				<img ng-src="images/landing/mi-03.svg">
				<p><span>50% Pharma & FMCG</span><br>
					Runs On Marg ERP<br>
				Software</p>
			</div>
			<div class="col-md-2 childFour">
				<img ng-src="images/landing/mi-04.svg">
				<p><span>1 Million+</span><br>
					Businesses Served<br>
				Worldwide</p>
			</div>
			<div class="col-md-2 childFive">
				<img ng-src="images/landing/mi-05.svg">
				<p><span>850+</span><br>
					Sales & Support<br>
				Centers</p>
			</div>
			<div class="col-md-2 childSix">
				<img ng-src="images/landing/cmmi3.svg">
				<p><span>850+</span><br>
					Sales & Service<br>
				Professionals</p>
			</div>
		</div>
	</div>
</div>