
<div class="mid">
	<div class="container-fluid">
		<h1>Find Better<span> Solutions</span> Build Better <span>Products</span></h1>
		<div class="row midParent">

			<div class="col-md-3 mp1">
				<img ng-src="images/margFeatures/buyer-icon-0.jpg" style="width: 180px; height: 150px;">
				<br>
				<h6><strong>Payment & Reconciliation</strong></h6>
				<p>Simplify your payments & bill-by-bill reconciliation using Marg Pay at 0% service charges & 2% cashback for retailers</p>
			</div>

			<div class="col-md-3 mp2">
				<img ng-src="images/margFeatures/580b57fcd9996e24bc43c543.png">
				<br>
				<h6><strong>Bills, O/s on Whatsapp</strong></h6>
				<p>Send Invoices, Outstandings, Stock and Sale Analysis etc. & various reports to customers directly on WhatsApp through Software</p>
			</div>

			<div class="col-md-3 mp3">
				<img ng-src="images/margFeatures/150-1503080_web-design-png-picture-multiple-websites.png"
				 style="width: 180px; height: 150px;">
				<br>
				<h6><strong>Free Website (Go Digital)</strong></h6>
				<p>Set up your online store, create digital catalogues & reach more customers with Free personalized seo friendly website worth Rs. 5000</p>
			</div>

			<div class="col-md-3 mp4">
				<img ng-src="images/margFeatures/02-512.png">
				<br>
				<h6><strong>Barcode Management</strong></h6>
				<p>Helps encode & centralize all products information in a barcode to quickly & accurately track products during billing</p>
			</div>

			<div class="col-md-3 mp5">
				<img ng-src="images/margFeatures/mod-m2-oie_4.png">
				<br>
				<h6><strong>Online Import Purchase</strong></h6>
				<p>No need to feed manual Purchase. Import bill from any Excel or CSV format to save time with 100% accuracy</p>
			</div>

			<div class="col-md-3 mp6">
				<img ng-src="images/margFeatures/gst-return-filing-250x250.png">
				<br>
				<h6><strong>GST Billing & Return Filing</strong></h6>
				<p>Create GST invoices, multiple e-way bills & directly upload files in Excel, JSON or CSV format in GST portal and file GST returns</p>
			</div>

			<div class="col-md-3 mp7">
				<img ng-src="images/margFeatures/0e475bb9b17b3fa4f94f31fba1635b8f-telephone-call-icon-logo-by-vexels.png">
				<br>
				<h6><strong>Direct Calling</strong></h6>
				<p>To simplify the order taking process, connect your mobile with system by scanning QR code & place calls directly to customer for receiving orders</p>
			</div>

			<div class="col-md-3 mp8">
				<img ng-src="images/margFeatures/Pay_QR-03-512.png">
				<br>
				<h6><strong>My Shop QR Code</strong></h6>
				<p>List & upload products, schemes, offers in QR code. Print & paste outside shop/ counter where customers can directly scan & place orders</p>
			</div>

			<div class="col-md-3 mp9">
				<img ng-src="images/margFeatures/security_Black_Fill-45-512.png">
				<br>
				<h6><strong>eRetail Web Application</strong></h6>
				<p>Directly place online orders to distributors & check status of all orders, View nearby distributors, schemes inside Marg ERP</p>
			</div>

			<div class="col-md-3 mp10">
				<img ng-src="images/margFeatures/inventory-management-1857611-1575340.webp">
				<br>
				<h6><strong>Inventory Management</strong></h6>
				<p>Manage Focused, Dump and Near-Expiry stock level, set reorder points to replenish stock with Push Sale features</p>
			</div>

			<div class="col-md-3 mp11">
				<img ng-src="images/margFeatures/accounting.png">
				<br>
				<h6><strong>Purchase & Sale Claim</strong></h6>
				<p>Get timely reminders & keep a track of benefits of claim against the purchases which is being done with Claims & Statements feature</p>
			</div>

			<div class="col-md-3 mp12">
				<img ng-src="images/margFeatures/credit-limit-2627305-2174938.png">
				<br>
				<h6><strong>Live Credit Limit Management</strong></h6>
				<p>Set & Track the credit limit for customers to save huge losses. Get live notification during billing whenever limit is reached</p>
			</div>

		</div>
	</div>
</div>