
<div class="row custTable">
	<div class="col-md-12">
		<input ng-model="query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
		style="width: 50%;">
		<br>
		<br>
		<div class="managementTable">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>First-Name</th>
						<th>Last-Name</th>
						<th>Email-Id</th>
						<th>Father-Name</th>
						<th>Number</th>
						<th>Gender</th>
						<th>Dob</th>
						<th>Pincode</th>
						<th>Address</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="n in studentData | limitTo: limit | filter:query">
						<td>{{n.firstName}}</td>
						<td>{{n.lastName}}</td>
						<td>{{n.email}}</td>
						<td>{{n.fatherName}}</td>
						<td>{{n.contactNo}}</td>
						<td>{{n.gender}}</td>
						<td>{{n.dob}}</td>
						<td>{{n.pincode}}</td>
						<td>{{n.currentAddress}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>