

<div class="slotBooking">
	<div class="container">
		<br>
		<br>
		<br>
		<div class="slotHeader">Book your slot</div>
		<div class="parentSlot">
			<p>Inventory & Accounting Software<br> With GST Returns & Digital Payment</p>
			<div class="row">
				<div class="col-md-5 slot" style="margin-left: 40px;">
					<br>
					<img ng-src="templates/slotBooking/sb_icon3.svg">
					<br>
					<h6>PHARMACY<br>SHOP</h6>
					<p>Manage Billing,<br>Stocks, Expiry,<br>Accounts & GST </p>
				</div>
				<div class="col-md-5 slot">
					<br>
					<img ng-src="templates/slotBooking/sb_icon4.svg">
					<br>
					<h6>Grosery/Kirana<br>Shop</h6>
					<p>Manage Billing,<br>Stocks, Accounts &<br>GST </p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="topicsCovered">
	<div class="container">
		<br>
		<p>Topics to be Covered:</p>
		<ul>
			<li>Benefit of Computerisation</li>
			<li>Billing & Prescription Management</li>
			<li>Stocks, Accounts & GST Management</li>
			<li>Re-Order & Online Order</li>
			<li>How to use 4.5 Lakh Drug Index</li>
			<li>Go Digital with free own Website</li>
		</ul>
		<br>
	</div>
</div>

<div class="chooseSlot">
	<br>
	<p>Choose your slot</p>
	<div class="container">
		<div class="row parentChooseSlot">
			<div class="col-md-3">
				<input type="date" placeholder="Demo Date" style="margin-left: 50px;">
			</div>
			<div class="col-md-3">
				<button type="button" class="btn btn-outline-dark"
				style="margin-left: 50px; margin-top: 15px;">12:00</button>
			</div>
			<div class="col-md-3">
				<button type="button" class="btn btn-outline-dark"
				style="margin-left: 50px; margin-top: 15px;">3:00</button>
			</div>
			<div class="col-md-3">
				<button type="button" class="btn btn-outline-dark"
				style="margin-left: 50px; margin-top: 15px;">6:00</button>
			</div>

		</div>
	</div>
</div>