
<div class="Leads" ng-controller="leadController" style="margin-top: 50px;">

	<div class="container-fluid">
		<div class="row" style="margin: 20px;">

			<div class="col-md-6 leadTable">
				<a ui-sref="management.callbacklead">
					<br>
					<button type="button" class="btn btn-dark" style="margin-bottom: 10px;">Back</button>
					<br>
				</a>
				<p><strong>Pending Leads:-</strong><span style="margin-left: 20px; background-color: yellow;
				 border-radius: 10px;">{{leads.length}}</span></p>
				<div class="leadTb">
					<div class="table-responsive-sm">
						<table class="table table-bordered">
							<thead class="thead-dark">
								<tr>
									<!-- <th>Id</th>
									<th>Created-At</th> -->
									<th>Name</th>
									<th>Number</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="lead in leads">
									<!-- <td>{{lead._id}}</td>
									<td>{{lead.created}}</td> -->
									<td>{{lead.name}}</td>
									<td>{{lead.number}}</td>
									<td>
										<a ui-sref="leadForm({ id:lead._id })">
											<button type="button" class="btn btn-danger">Action</button>
										</a>
									</td>
									<div class="row show-hide-message" ng-show="successMsg">
										<div class="alert alert-primary" role="alert">
											{{ successMsg }}
										</div>
									</div>
									<div class="row show-hide-message" ng-show="errorMsg">
										<div class="alert alert-danger" role="alert">
											{{ errorMsg }}
										</div>
									</div>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-md-6 leadTable">
				<br>
				<br>
				<br>
				<p><strong>Callback:-</strong><span style="margin-left: 20px; background-color: yellow;
				 border-radius: 10px;">{{forwardLeads.length}}</span></p>
				<div class="leadTb">
					<table class="table table-bordered">
						<thead class="thead-dark">
							<tr>
								<!-- <th>Created-At</th> -->
								<th>Name</th>
								<th>Number</th>
								<th>Status</th>
								<th>Trade</th>
								<th>B-Type</th>
								<th>Remark</th>
								<th>Date</th>
								<th>R-Name</th>
								<th>R-Number</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="forwardLead in forwardLeads">
								<!-- <td>{{lead.created}}</td> -->
								<td>{{forwardLead.name}}</td>
								<td>{{forwardLead.number}}</td>
								<td>
									<a ui-sref="leadCallbackForm({ id:forwardLead._id })">
										<button type="button" class="btn btn-primary">Update</button>
									</a>
								</td>
								<td>{{forwardLead.trade}}</td>
								<td>{{forwardLead.businessType}}</td>
								<td>{{forwardLead.remarks}}</td>
								<td>{{forwardLead.demoDate}}</td>
								<td>{{forwardLead.represantativeName}}</td>
								<td>{{forwardLead.represantativeNumber}}</td>
								<div class="row show-hide-message" ng-show="successMsg">
									<div class="alert alert-primary" role="alert">
										{{ successMsg }}
									</div>
								</div>
								<div class="row show-hide-message" ng-show="errorMsg">
									<div class="alert alert-danger" role="alert">
										{{ errorMsg }}&nbsp
										<a href="/resendActivation">
											<button type="button" ng-show="expired" class="btn btn-primary">
											Resend Activation Link</button>
										</a>
									</div>
								</div>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>

</div>