
<div class="softwaresList">
	<div class="container">
		<h1>Drive your business with MargERP</h1>
		<br>
		<div class="card-group">
			<div class="card">
				<img ng-src="images/retail.png" alt="image" style="width: 200px; height: 200px; display: block; margin-left: auto; margin-right: auto; margin-top: 10px;" class="wow pulse">
				<div class="card-body">
					<h5 class="card-title">Retail Softwares</h5>
					<ul class="list-group">
						<a ui-sref="pharma"><li class="list-group-item">Pharmacy Softwares</li></a>
						<a ui-sref="pos"><li class="list-group-item">POS Softwares</li></a>
						<a ui-sref="jewellery"><li class="list-group-item">Jewellery Softwares</li></a>
						<a ui-sref="restaurent"><li class="list-group-item">Restaurent Softwares</li></a>
						<a ui-sref="garment"><li class="list-group-item">Garment Softwares</li></a>
						<a ui-sref="retail"><li class="list-group-item">Retail Shop Softwares</li></a>
						<a ui-sref="kirana"><li class="list-group-item">Kirana/Grocery Softwares</li></a>
						<a ui-sref="salon"><li class="list-group-item">Salon & Spa Softwares</li></a>
					</ul>
				</div>
			</div>
			<div class="card">
				<img ng-src="templates/softwaresList/distribution-png-1.png" alt="image" id="middleImage"
				 class="wow pulse">
				<div class="card-body">
					<h5 class="card-title">Distribution Softwares</h5>
					<ul class="list-group">
						<a ui-sref="fmcg"><li class="list-group-item">FMCG Softwares</li></a>
						<a ui-sref="pharma&healthcare"><li class="list-group-item">Pharma & Healthcare Softwares</li></a>
						<a ui-sref="automobile"><li class="list-group-item">Automobile Softwares</li></a>
						<a ui-sref="warehouse"><li class="list-group-item">Warehouse Softwares</li></a>
						<a ui-sref="mandi"><li class="list-group-item">Mandi(AADHAT) Softwares</li></a>
						<a ui-sref="wholesale"><li class="list-group-item">Wholesale</li></a>
						<a ui-sref="jewellery"><li class="list-group-item">Jewellery Softwares</li></a>
						<!-- <a ui-sref="text&apparel"><li class="list-group-item">Text & Apparel Softwares</li></a>
						<a ui-sref="import-exportTrading"><li class="list-group-item">Import/Export Trading</li></a> -->
					</ul>
				</div>
			</div>
			<div class="card">
				<img ng-src="templates/softwaresList/spanish-food-processing-companys-logo-png-images-food-manufacturing-png-300_321.png" alt="image"
				 style="width: 199px; height: 200px; display: block; margin-left: auto; margin-right: auto; margin-top: 10px;"
				 class="wow pulse">
				<div class="card-body">
					<h5 class="card-title">Manufacturing Softwares</h5>
					<ul class="list-group">
						<a ui-sref="pharmaceutical"><li class="list-group-item">Pharmaceutical Softwares</li></a>
						<a ui-sref="food&beverage"><li class="list-group-item">Food & Beverage Softwares</li></a>
						<a ui-sref="ayurvedic&homeopathic">
							<li class="list-group-item">Ayurvedic & Homeopathic Softwares</li>
						</a>
						<!-- <a ui-sref="automobile"><li class="list-group-item">Automobile Softwares</li></a> -->
						<a ui-sref="textile"><li class="list-group-item">Textile Softwares</li></a>
						<a ui-sref="assembling"><li class="list-group-item">Assembling Softwares</li></a>
						<a ui-sref="processManufacturing"><li class="list-group-item">Process Manufacturing Softwares</li></a>
						<!-- <a ui-sref="electronicsManufacturing">
							<li class="list-group-item">Electronics Manufacturing Softwares</li>
						</a> -->
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>