
<div class="slide">
  
  <div class="container-fluid">

    <div class="slideHeader" style="margin-top: 20px;">
      <h1 style="font-family: 'Baloo Tamma 2', cursive; text-align: center; color: #22577a;">Complete
        <span style="color: #006400;">Mechanism</span><br>towards Customer <span style="color: #006400;">Delight</span>
      </h1>
      <br>
      <div class="container">
        <p>The Marg Video Production team includes a creative bunch of gems who are providing in-depth knowledge on Marg product, its utility & features of the software for different industries. The videos give a clear understanding of how to use the software in day to day Business activities.</p>
      </div>
      <br>
    </div>

    <div class="slider">
      <div id="carouselExampleControls" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
          <!-- <div class="carousel-item active">
            <iframe class="d-block w-100" src="videos/VID-20210212-WA0001.mp4"></iframe>
          </div> -->
          <div class="carousel-item active">
            <video poster="images/maxresdefaults.jpg" style="width: 100%; height: auto;" controls>
              <source class="d-block w-100" src="videos/VID-20210214-WA0000.mp4" poster="images/maxresdefaults.jpg"
              type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

      <!-- <div class="carousel">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <iframe src="videos/VID-20210212-WA0001.mp4"></iframe>
            </div>
            <div class="carousel-item">
              <iframe src="videos/VID-20210214-WA0000.mp4"></iframe>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div> -->

  </div>

</div>